
INFOIBV/.idea/.idea.INFOIBV.dir/.idea/contentModel.xml
INFOIBV/.idea/.idea.INFOIBV.dir/.idea/indexLayout.xml
INFOIBV/.idea/.idea.INFOIBV.dir/.idea/modules.xml
INFOIBV/.idea/.idea.INFOIBV.dir/.idea/projectSettingsUpdater.xml
INFOIBV/.idea/.idea.INFOIBV.dir/.idea/vcs.xml
INFOIBV/.idea/.idea.INFOIBV.dir/.idea/workspace.xml
INFOIBV/.idea/.idea.INFOIBV.dir/riderModule.iml
INFOIBV/bin/Debug/INFOIBV.exe
INFOIBV/bin/Debug/INFOIBV.pdb
INFOIBV/obj/x86/Debug/INFOIBV.csproj.CoreCompileInputs.cache
INFOIBV/obj/x86/Debug/INFOIBV.csproj.FileListAbsolute.txt
INFOIBV/obj/x86/Debug/INFOIBV.csproj.GenerateResource.cache
INFOIBV/obj/x86/Debug/INFOIBV.csprojAssemblyReference.cache
INFOIBV/obj/x86/Debug/INFOIBV.exe
INFOIBV/obj/x86/Debug/INFOIBV.INFOIBV.resources
INFOIBV/obj/x86/Debug/INFOIBV.pdb
INFOIBV/obj/x86/Debug/INFOIBV.Properties.Resources.resources
INFOIBV/bin/Debug/INFOIBV.exe
